body {
    font-family: monospace;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    gap: 30px;
}

a { 
    text-decoration: none;
    color: #E5E7EB;
}

button {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(173, 0, 0);
    color: #F9FAF8;
    border-color: black;
}

#hero {
    background-image:url("images/vroop_banner.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    padding-bottom: 150px;
    gap: 220px;
    min-height: 90vh;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
    background-color: hsla(0, 100%, 0%, 0.6);
    padding-left: 200px;
    padding-right: 200px;
}

.welcome {
    background-color: hsla(0, 100%, 0%, 0.6);
    border-radius: 100px;
    border: 2px solid rgb(70, 0, 0);
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 100px 10px;
}

.welcome img {
    width: 400px;
    height: auto;
    border-radius: 5px;
}

.read {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 600px;
}

.read h1 {
    font-size: 48px;
    font-weight: bolder;
}

.read p {
    font-size: 18px;
    color: #E5E7EB
}

#channels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: rgb(26, 26, 26);
    color: #F9FAF8;
}

#channels h2 {
    font-size: 46px;
    font-weight: bolder;
}

.boxes {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    text-align: center;
}

.boxes img {
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 1 210px;
}

.card h3 {
    font-size: 30px;
    margin-top: -1px;
}

.card p {
    margin-top: -16px;
}

.quote {
    background-image: url("images/quotebg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 200px;
}

.quote h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: 1;
    color: #1F2937;
}

.quote p {
    font-size: 18px;
    font-weight: bolder;
    align-self: center;
    margin-top: -40px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 200px
}

.call {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    padding: 25px 50px;
    justify-content: space-between;
    border-radius: 20px;
    width: 800px;
    flex-shrink: 0;
    gap: 30px;
}

.call h5 {
    font-size: 24px;
}

.call p {
    font-size: 18px;
    margin-top: -40px;
}

.call button {
    border: 2px solid white;
    height: 35px;
    width: 110px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 12px;
}
    