body {
    font-family: monospace;
    margin: 0px;
    min-height: 100vh;
}

#hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.welcome {
    display: flex;
    justify-content: space-between;
}

.read {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.read h1 {
    font-size: 48px;
    font-weight: bolder;
}

.read p {
    font-size: 18px;
    color: #E5E7EB
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

a { 
    text-decoration: none;
    color: #E5E7EB;
}

img {
    width: 200px;
    height: auto;
}

button {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #3882F6;
}