body {
    font-family: monospace;
    margin: 0px;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    gap: 20px;
}

a { 
    text-decoration: none;
    color: #E5E7EB;
}

img {
    width: 200px;
    height: auto;
}

button {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #3882F6;
}

#hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 150px;
    gap: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
}

.welcome {
    display: flex;
    justify-content: space-between;
}

.read {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.read h1 {
    font-size: 48px;
    font-weight: bolder;
}

.read p {
    font-size: 18px;
    color: #E5E7EB
}

#random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

#random h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.boxes {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    text-align: center;
}

.boxes img {
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.card {
    display: flex;
    flex-direction: column;

    width: 210px;
}

.quote {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 200px;
}

.quote h4 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937
}

.quote p {
    font-size: 18px;
    font-weight: bolder;
    align-self: flex-end;
    margin-top: -40px;
}